/*----- Reset -----*/
@font-face {
    font-family: 'avenir';
    src: url('fonts/avenir-lt-55-roman-1361499803.eot');
    src: url('fonts/avenir-lt-55-roman-1361499803.eot?#iefix') format('embedded-opentype'),
         url('fonts/avenir-lt-55-roman-1361499803.woff') format('woff'),
         url('fonts/avenir-lt-55-roman-1361499803.ttf') format('truetype'),
         url('fonts/avenir-lt-55-roman-1361499803.svg#proxima_nova_ltbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Conv_spring-lp';
	src: url('fonts/spring-lp.eot');
	src: local('?'), url('fonts/spring-lp.woff') format('woff'), url('fonts/spring-lp.ttf') format('truetype'), url('fonts/spring-lp.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
html {
  margin:0;
  padding:0;
  border:0;
}
body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* Line-height should always be unitless! */
body {
  color:#000;
  font:normal normal 100%/1.125em 'Avenir',Arial,sans-serif;
  background-color: #FFF;
  font-weight:100
}

/* This helps to make newer HTML5 elements behave like DIVs in older browers */
article, aside, details, figcaption, figure, dialog,
footer, header, hgroup, menu, nav, section {
    display:block;
}
input, select, textarea{
	margin:0;
	font: normal normal 100%/1.125em  'Avenir',Arial, sans-serif;
	font-weight:100
}

/* Remove possible quote marks (") from &lt;q&gt, &lt;blockquote&gt. */
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a {color:#3da0d6; text-decoration:none }
a img { border: none; }

/* Remember to define your own focus styles! */
:focus { outline: 0; }
.clear{clear:both}

/* layout home page */
.center{margin:0 auto;width:1010px}
a.logo{background:url(../img/front/Newlogo2.jpg) no-repeat; display:block;height:125px;overflow:hidden;text-indent:-1983px;width:324px}
	.pt0{padding-top:0 !important;}
	/* title */
	.mt-tt{float:left;width:324px;padding-left:21px}
	.title-1{background:url(../img/front/bg-sprite.png) 0 -96px no-repeat;color:transparent;font-size:0px;height:38px;margin-top:5px;overflow:hidden; text-indent:-1983px; width:296px}
	.title-3{background-color:#5e5e5e;border:1px solid #7e7e7e;color:#fff;font-size:14px;padding:15px;text-transform:uppercase; -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
	.title-2{background:url(../img/front/bg-tt.png) repeat-y center 0;color:#fff;font-size:30px;font-weight:normal; line-height:40px;padding:5px 4px;text-align:center}
	.title-2 .spring-lp-font{font-family:'Conv_spring-lp',Arial, sans-serif;text-transform:uppercase}
	.title-4{color:#1381ce;font-size:20px;line-height:24px;padding-bottom:15px;padding-top:10px}
	/* title .end */
	/* color */
	span.label{color:#a5a4a4}
	span.blue-tc{color:#3da0d6}
	/* color .end */
	/* icon */
	.icon-share{background:url(../img/front/bg-sprite.png) no-repeat -324px 0;display:block;height:56px; overflow:hidden;text-indent:-1983px;width:56px}
	.icon-share-in{background-position:-324px 0}
	.icon-share-tweet{background-position:-380px 0}
	.icon-share-facebook{background-position:-324px -56px}
	.close-bt{background:url(../img/front/bg-sprite.png) no-repeat -384px -58px;display:block;height:28px; overflow:hidden;text-indent:-1983px;width:28px}
	/* icon .end */

/* Header */
#head-container{padding-top:42px}
.header-right{float:right;font-size:24px;line-height:27px;padding-right:12px;text-align:right;}
	/* nav */
	#nav{border-bottom:1px dashed #666;clear:both;margin:0 24px 12px 14px}
	.menu-list{list-style: none outside none;margin:0;padding:32px 0 0; float:left}
	.menu-list li{float:left;padding:0 8px 14px;position:relative}
	.menu-list li a{color:#858686;font-size:18px;text-transform:uppercase}
	.menu-list li.current a,.menu-list li a:hover{color:#3da0d6}
	.menu-list ul{list-style: none outside none;position:absolute;display:none;top:21px;left:-25px;z-index:1000;margin:0;padding:0}
	.menu-list li ul li{padding:0;border:none;width:190px;margin-bottom:-1px}
	.menu-list li ul a{background-color:#fff;border:1px solid #9a9da2;margin-bottom:-1px;display:block;width:160px;padding:6px 10px;color:#868686;font-size:14px;
	z-index:1000;text-align:center;margin:0 auto}
	.menu-list a.hover-rule-1{background-color:#054b3b;}
	.menu-list li ul a:hover{font-size:16px;color:#0183c1;padding:7px 15px}
	.menu-list ul ul{top:-1px}
	.menu-list li ul ul{left:190px;margin:0 0 0 10px}
	.menu-list li:hover ul ul, 
	.menu-list li:hover ul ul ul,
	.menu-list li:hover ul ul ul ul{display:none}
	.menu-list li:hover ul,
	.menu-list li li:hover ul,
	.menu-list li li li:hover ul,
	.menu-list li li li li:hover ul{display:block}
	/* nav .end */
	/*nav-vertical*/
	.nav-vertical{background-color:#5e5e5e;position:relative;display:none;z-index:15;top:0;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;right:0;margin:10px 0}

	.nav-vertical a.button-nav{background-color:#5e5e5e;width:100%;padding:18px 0;display:none;font-size:15px;text-indent:22px;color:#fff;text-transform:uppercase;font-size:14px;position:relative}
	.nav-vertical a.button-nav span.arrow{background:url(../img/front/bg-arrow-nav.png) no-repeat 0 0 ;display:block;width:41px;height:41px;position:absolute;right:9px;top:8px}
	.nav-vertical a.button-nav:hover{text-decoration:underline}
	
	ul.nav-sub-vertical{width:100%;display:none;list-style: none outside none;margin:0;padding:0}
	ul.nav-sub-vertical li a.parent-tree{position:relative}
	ul.nav-sub-vertical li.li-last{border-bottom:0}
	ul.nav-sub-vertical li a{padding:9px 8px 10px 23px;display:block;color:#fff;text-transform:uppercase;font-size:14px;text-decoration:none;text-transform:uppercase;border-bottom:1px solid #fff}
	ul.nav-sub-vertical li a:hover{background-color:#000;}
	ul.nav-sub-vertical ul.categorymenu {list-style: none outside none;margin:0;padding:0}
	ul.nav-sub-vertical ul.categorymenu li a{border-color:#fff; padding:5px 10px 7px 35px;font-size:15px;;text-transform:none}
	ul.nav-sub-vertical ul.categorymenu li a:hover{background-color:#4fa4e5;}
/* Header .end */
/*header line */
	/* banner */
	.header-line{background-color:#5e5e5e;border-bottom:1px solid #9e9e9e;overflow:hidden;padding:58px 1px 59px}
	.banner{float:left;width:593px;}
	.banner .flexslider{background-color:transparent;border:0 none transparent;margin:0;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
	.banner .flexslider .slides img{-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px}
	.banner .flexslider .slides li{position:relative}
	.banner .flexslider li .flex-caption{background:url(../img/front/bg-tranparent.png) 0 0 repeat;color:#fff;bottom:15px;left:15px; padding:15px;position:absolute;width:40%}
	/* banner .end */
	/* menu right */
	.menu-right{overflow:hidden;padding-left:4px;}
	.menu-right ul {list-style: none outside none;margin:0;padding:0}
	.menu-right ul li{padding-top:2px;}
	.menu-right ul li a{background-color:#acabab;color:#fff;display:block;font-size:18px; font-weight:bolder;padding:26px 15px 22px 30px;text-transform:uppercase;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
	.menu-right ul li a.bgc-1{background-color:#acabab;}
	.menu-right ul li a.bgc-2{background-color:#908f8f;}
	.menu-right ul li a.bgc-3{background-color:#7f7f7f;}
	.menu-right ul li a.bgc-4{background-color:#727171;}
	.menu-right ul li a.bgc-5{background-color:#6b6a6a;}
	.menu-right ul li a:hover{background-color:#3da0d6}
/* header line .end */
/* main container */
#content-container .bg-center{background:url(../img/front/bg-main-content.png) repeat-y right 30px;margin:28px auto 24px}
	/* right content*/
	#content-container .right-content{float:right;width:260px}
	.right-content .section-content{border:1px solid #9e9e9e;border-top:none;margin-top:-12px; -moz-border-radius:0 0 10px 10px;-webkit-border-radius:0 0 10px 10px;border-radius:0 0 10px 10px;padding-top:10px;}
	.right-content .section{padding:0 15px 0 20px;}
	.right-content marquee{height:380px; -moz-border-radius:0 0 10px 10px;-webkit-border-radius:0 0 10px 10px;border-radius:0 0 10px 10px;margin-bottom:10px}
	.latest-new-list{border-left:1px solid #d2d2d2;border-right:1px solid #d2d2d2;list-style: none outside none;margin:0;padding:14px 10px 0; -moz-border-radius:0 0 10px 10px;-webkit-border-radius:0 0 10px 10px;border-radius:0 0 10px 10px;}
	.latest-new-list li{padding-bottom:13px}
	.latest-new-list li h3{font-size:14px;font-weight:normal;margin-bottom:5px}
	.latest-new-list li h3 a{color:#137fc4}
	.latest-new-list li h3 a:hover{text-decoration:underline}
	.latest-new-list li .discription-1{color:#5b5f62;font-size:12px;line-height:13px}
	/* main-content */
	.main-content{overflow:hidden}
	.main-content .entry-content{padding:36px 14px 0px 18px}
	.entry-left-content{float:left;text-align:center;width:48%;padding-right:2%}
	.question-list {list-style: none outside none;margin:0;padding:0;color:##4a4e4e;font-family:'Avenir';font-size:14px;font-weight:bold;text-shadow: 0 0.2px black;}
	
	.question-list li#question1{padding-bottom:37px}
	.question-list li#question2{padding-bottom:38px}
	.question-list li#question3{padding-bottom:74px}
	.question-list li#question4{padding-bottom:38px}
	.question-list li#question5{padding-bottom:28px}
	
	.question-list li a{color:#4a4a4a;}
	.entry-right-content{font-size:14px;overflow:hidden;}
	.entry-right-content .pg-1{padding-bottom:20px}
	/* extras */
	.extras{padding-bottom:26px}
	.extras ul{list-style: none outside none;margin:0;padding:0}
	.extras .link-list{margin:0 10px 0 26px}
	.link-list .link-item{display:inline-block;*display:inline;*zoom:0;padding-right:10px;padding-bottom:15px}
	.link-list .link-item li{background:url(../img/front/bg-icon-check.png) no-repeat 0 0; padding-bottom:12px;padding-left:16px;font-size:14px;}
	.link-list .link-item li a:hover{text-decoration:underline}
/*footer*/
#footer-container{background-color:#5e5e5e;border-top:7px solid #1484c6;color:#fff;}
#footer-container .center{padding:16px 0 50px;position:relative}
#footer-container a{color:#fff}
#footer-container ul{list-style: none outside none;margin:0;padding:0}
.footer-main-content{padding-left:20px}
.footer-right-content{color:#f8f8f8;float:right;font-family:"Geneva",Arial, sans-serif;font-size:12px;padding-top:50px;padding-right:30px; text-align:right;width:230px;}
.footer-right-content p{margin-bottom:3px}
.footer-right-content sup{font-size:70%}
.footer-right-content .design-by{font-size:10px;text-transform:uppercase}
.footer-right-content .design-by a:hover{text-decoration:underline}
/* share-link-list */
.share-link-list{position:absolute;right:32px;top:-11px}
.share-link-list li{float:left;margin-left:16px}
/*sitemap*/
#sitemap{font-family:"Geneva",Arial, sans-serif;font-size:10px;overflow:hidden;text-transform:uppercase}
#sitemap li{display:inline-block;*display:inline;width:170px;padding-right:15px;padding-bottom:20px;line-height:13px;vertical-align:top}
#sitemap li h3{font-size:14px;font-weight:normal;margin-bottom:11px}
#sitemap li ul{padding-top:4px}
#sitemap li ul li{padding-bottom:3px}
#sitemap li ul a{color:#f2f1f1}
#sitemap li ul a:hover{color:#fff;text-decoration:underline}

/* top-popup */
#popup-top{background-color:transparent;position:fixed;top:0;left:0;width:100%;z-index:20;margin-top:0;border-top:2px solid #0083c8}
#popup-top .tab-content{width:100%;margin:0 auto;position:relative;}
.tab-content .item-tab{list-style: none outside none;margin:0 auto; width:350px; padding:0;}
.tab-content .item-tab li{display:inline-block;zoom:1;*display:inline;background-color:#4785d3;}
.tab-content .item-tab li a{background-color:#1484c6;font-size:14px;display:block;padding:10px 36px 10px 18px;outline:none;color:#fff;text-transform:uppercase;position:relative;}
.tab-content .item-tab li a:hover{background-color:#376092;color:#fff}
.tab-content .item-tab li a.active{background-color:#0a73b1;color:#fff;z-index:24;padding-bottom:20px}
.tab-content .item-tab li a .icon-arrow{background:url(../img/front/bg-sprite.png) no-repeat -300px -98px;display:block;height:12px; overflow:hidden;text-indent:-1983px;width:13px;position:absolute;right:10px;top:13px}
.tab-content .item-tab li a.active .icon-arrow{background-position: -300px -114px}
.tab-content .block-tab{background-color:;overflow:hidden;position:absolute; top:38px;z-index:21;display:none;width:100%;
	border-top:2px solid #7c7e7b;
}
.tab-content  .block-tab_small .close-bt{position:absolute;top:15px;right:15px;cursor:pointer}
/* form */
	.form-top{width:620px;margin:0 auto}
	.request-a-quote{width:650px;margin:0 auto}
	.form-top .title-4{font-weight:normal;text-transform:uppercase}
	.main-form fieldset .left-form{float:left;width:350px}
	.request-a-quote .main-form fieldset .left-form{float:left;width:380px}
	.main-form fieldset .right-form{overflow:hidden}
	.main-form fieldset div.input{clear:left;float:left;margin-bottom:6px;vertical-align:top;padding-right:18px;width:100%; z-index:999;}
	.main-form fieldset div.area{width:270px;padding-right:0}
	.main-form fieldset div.input label{color:#616161;float:left;font-size:14px;width:155px;line-height:30px;}
	.request-a-quote .main-form fieldset div.input label{color:#616161;float:left;font-size:14px;width:185px;line-height:30px;}
	
	.main-form fieldset .left-form div.input label{margin-top:-2px}
	
	.main-form fieldset .right-form div.input label{margin-bottom:5px}
	.main-form fieldset div.input input, .main-form fieldset div textarea{float:left;width:160px;padding:6px 5px;border:1px solid #5e5e5e;background-color:#fff;-moz-border-radius:1px;-webkit-border-radius:1px;border-radius:1px;font-size:13px}
	.main-form fieldset div.area textarea{height:85px !important;width:257px !important}
	.main-form fieldset div.area-2 textarea{height:188px !important;}
	.main-form fieldset div.input input:focus,.main-form fieldset div.input textarea:focus{border-color:#4684D1;}
	.main-form fieldset div.input input.form-error{color:#f00;border:1px solid #F00;}
	.main-form fieldset div.input div.error-message{padding-top:4px ;color:#fff;clear:both}
	.main-form fieldset div.submit{float:right;padding:5px 0;text-align:right}
	.main-form fieldset div.submit input{background-color:#0083c9;border:1px solid #aaa;color:#fff;font-weight:bold;cursor:pointer;font-size:14px; padding:7px 24px;text-transform:uppercase;-moz-border-radius:1px;-webkit-border-radius:1px;border-radius:1px;}
	.main-form fieldset div.submit input:hover{background-color:#016da6;}

	/* checkbox customize */
.input-checkbox-cus div.checker,.input-checkbox-cus div.checker span,.input-checkbox-cus div.checker input{height:35px;width:25px}
.input-checkbox-cus div.checker span{background-position:-319px -125px}
.input-checkbox-cus div.checker span.checked,.input-checkbox-cus div.checker.hover span.checked,.input-checkbox-cus div.checker.focus span.checked{background-position:-348px -125px}
.input-checkbox-cus div.checker.disabled span{background-position:-348px -125px}

/*K Edit*/
.tab-content .block-tab .block-tab_small{
	max-width:760px;
	margin:0 auto;
	background:white;
	border-left:1px solid #7c7e7b;
	border-right:1px solid #7c7e7b;
	border-bottom:1px solid #7c7e7b;
	position:relative;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}