/*----- Reset -----*/
@font-face {
    font-family: 'avenir';
    src: url('fonts/avenir-lt-55-roman-1361499803.eot');
    src: url('fonts/avenir-lt-55-roman-1361499803.eot?#iefix') format('embedded-opentype'),
         url('fonts/avenir-lt-55-roman-1361499803.woff') format('woff'),
         url('fonts/avenir-lt-55-roman-1361499803.ttf') format('truetype'),
         url('fonts/avenir-lt-55-roman-1361499803.svg#proxima_nova_ltbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Conv_spring-lp';
	src: url('fonts/spring-lp.eot');
	src: local('?'), url('fonts/spring-lp.woff') format('woff'), url('fonts/spring-lp.ttf') format('truetype'), url('fonts/spring-lp.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*add width:1004px to BackGroundAllPage, the feature respondsive is lost???*/
.clearFix{
	clear: both;
}
.BackGroundAllPage{	
	width:1004px;
	height:273px;
	max-width: 98%;
	margin:0 auto;
	text-align:center;
}

.BackGroundAllPage img {
	height:273px; 
	width: 100%;
}
#content-container .bg-center{
	margin-top:10px;
	background: none;
}
.CtcontactUsHeader{
	margin:0 auto;
	height:36px;
	background:url('../img/front/backContact.png') no-repeat center center;
}
.CtcontactUsHeader1{
	margin:0 auto;
	width:202px;
	height:36px;
	background:white;
}
.CtcontactUsHeaderSmall {
	float:left;
	height:34px;
	width:190px;
	float:left;
	text-align:center;
	display:block;
	background:#43a1d4;
	line-height:34px;
	color:white;
	margin-left: 6px;
	border-bottom:1px solid #92cdec;
	border-top:1px solid #92cdec;
	color:white;
	font-family: 'Conv_spring-lp';
	font-size:30px;
	font-weight:100;
	
}
.CtcontactUsHeaderSmall a{
	color:white;
	display:block;
	text-shadow:0.2px 0.2px white;
	font-weight:100;
}	
.CtcontactBig{
	margin:0 auto;
	min-height:600px;
	width:1010px;
	text-align:center;
	
}

.CtcontactUs{
	margin:0 auto;
	width:1010px;
	height:560px;
	
}	
.CtcontactUsSmall{
	margin-top:2.36%;
	margin-left:3.46%;
	width:96.54%;
	float:left;
	background:;
	min-height:480px;
	text-shadow: 0.3px 0.3px #a5a5a5;
}

/*.CtcontactContent{
	margin:0 auto;
	width:1010px;
	min-height:560px
}*/
.CtcontactContentLeft{
	background:url('../img/front/bagct.png') no-repeat center 190px;
	width:48.5%;
	height:450px;
	float:left;
	border-right:1px dashed #676767;
	text-align:left;
	font-family:avenir;
	font-size:15px;
	color:#4a4e4e;
	text-shadow: 0 0.2px black;
	position:relative;
}

.CtcontactContentLeft span,
.CtcontactContentLeft span a,
.CtcontactContentLeft p  span{
	font-size:19px;
	color:#57acd8;
}
.CtcontactContentLeft span
{
	font-size:19px;
	color:#57acd8;
}
.CtcontactContentLeft span a:hover{
	color:blue;
	text-decoration:none;
}
.ContactfaceinTwiter{
	display:inline;
	width:193px;
	height:34px;
}
a#ContactFace{
	display: inline-block;
	height:34px;
	width:27px;
	background:url('../img/front/faceinTwiter.png') no-repeat 0px 0px;
	vertical-align:middle;
}
a#ContactIn{	
	display: inline-block;
	height:34px;
	width:70px;
	background:url('../img/front/faceinTwiter.png') no-repeat -27px 0px;
	vertical-align:middle;
}

a#ContactTwiter{
	display: inline-block;
	height:34px;
	width:96px;
	background:url('../img/front/faceinTwiter.png') no-repeat -96px 0px;
	vertical-align:middle;
}


.CtcontactContentRight{
	text-align:left;
	float:left;
	width:51.24%;
	height:400px;
	background:;	
	font-size:14px;
	font-family: 'avenir';
}
.CtcontactContentRight h1{
	font-family: 'Conv_spring-lp';
	padding-left:23px;
	font-size:18px;
	font-weight:normal;
	margin-bottom:20px;
	
}
.CtcontactContentRight table{
	margin:0 auto;
	width:92.59%;
	border-collapse:separate;
	border-spacing:0px 13px;
}
.CtcontactContentRight table tr{
	margin-bottom:18px;
}

.CtcontactContentRight table tr td.cttitle{
	width:34.63%;
	vertical-align: top;
}
/*
.CtcontactContentRight table tr td input{
	width:65.37%;
	height:24px;
	max-width:;
}*/
.CtcontactContentRight table tr td.ctcontenttable{
	width:65.37%;
}
.CtcontactContentRight table tr td input{
	width:98%;
	height:24px;
	min-width:170px;
}
.CtcontactContentRight textarea{
	width:97.5%;
	height:160px;	
	resize: none;
}
.CtcontactContentRight .contactSubmit button{
	margin-top:-6px;
	float:right;
	width:110px;
	height:42px;
	background:#3da0d6;
	border:1px solid #8dc7e7;
	font-size:14px;
	color:white;
	cursor:pointer;
}
.CtcontactContentRight .contactSubmit button:hover{
	background:#2B7096;
}
/*Override for background of all page*/
.header-line{
	padding:0 1px 0;
}
.header-line{background-color:transparent;border-bottom:1px solid transparent;overflow:hidden;padding:0px 1px 0px}
.responseMessage{
	color:#3da0d6;
	text-align: center;
	display: none;
}