/*----- Reset -----*/
@font-face {
    font-family: 'avenir';
    src: url('fonts/avenir-lt-55-roman-1361499803.eot');
    src: url('fonts/avenir-lt-55-roman-1361499803.eot?#iefix') format('embedded-opentype'),
         url('fonts/avenir-lt-55-roman-1361499803.woff') format('woff'),
         url('fonts/avenir-lt-55-roman-1361499803.ttf') format('truetype'),
         url('fonts/avenir-lt-55-roman-1361499803.svg#proxima_nova_ltbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Conv_spring-lp';
	src: url('fonts/spring-lp.eot');
	src: local('?'), url('fonts/spring-lp.woff') format('woff'), url('fonts/spring-lp.ttf') format('truetype'), url('fonts/spring-lp.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.BackGroundAllPage{
	max-width:1004px;
	margin:0 auto;
}

.BackGroundAllPage img {
	height:auto; 
	width:100%;
}
.CtcontactBig{
	margin:0 auto;
	min-height:600px;
	width:1010px;
	text-align:center;
}

.CtcontactUs{
	margin:0 auto;
	width:1010px;
	min-height:500px;
	margin-top:50px;
}	

.CtcontactUsHeader{
	margin:0 auto;
	height:36px;
	background:url('../images/backContact.png') no-repeat center center;
}
.CtcontactUsHeader1{
	margin:0 auto;
	width:202px;
	height:36px;
	background:white;
}
.CtcontactUsHeaderSmall {
	float:left;
	height:34px;
	width:190px;
	float:left;
	text-align:center;
	display:block;
	background:#43a1d4;
	line-height:34px;
	color:white;
	margin-left: 6px;
	border-bottom:1px solid #92cdec;
	border-top:1px solid #92cdec;
	color:white;
	font-family: 'Conv_spring-lp';
	font-size:30px;
	
}
.CtcontactUsHeaderSmall a{
	color:white;
	display:block;
}	

.CtcontactContent{
	margin:0 auto;
	width:1010px;
	min-height:600px
}
.CtcontactContentLeft{
	background:url('../img/front/bagct.png') no-repeat 75px 180px;
	width:473px;
	height:422px;
	float:left;
	margin-left:35px;
	margin-top:30px;
	border-right:1px dashed #676767;
	text-align:left;
	font-family:avenir;
	font-size:15px;
	color:#4a4e4e;
	text-shadow: 0 0 0 0.2px black;
	position:relative;
}

.CtcontactContentLeft span,
.CtcontactContentLeft span a,
.CtcontactContentLeft p  span{
	font-size:19px;
	color:#4a4e4e;
}
.CtcontactContentLeft span a:hover{
	color:blue;
	text-decoration:none;
}
.ContactfaceinTwiter{
	background:;
	position:absolute;
	width:193px;
	height:34px;
	top:118px;
	left:96px;
}
.ContactfaceinTwiter a#ContactFace{
	float:left;
	height:34px;
	width:27px;
	background:url('../img/front/faceinTwiter.png') no-repeat 0px 0px;
}
.ContactfaceinTwiter a#ContactIn{
	float:left;
	height:34px;
	width:70px;
	background:url('../img/front/faceinTwiter.png') no-repeat -27px 0px;
}

.ContactfaceinTwiter a#ContactTwiter{
	float:left;
	height:34px;
	width:96px;
	background:url('../img/front/faceinTwiter.png') no-repeat -96px 0px;
}


.CtcontactContentRight{
	text-align:left;
	margin-top:30px;
	float:left;
	min-width:400px;
	height:600px;
	background:#ddd;	
	font-size:14px;
	font-family: 'avenir';
}
.CtcontactContentRight h1{
	padding-left:23px;
	font-size:18px;
	font-weight:normal;
	margin-bottom:20px;
	
}
.CtcontactContentRight table{
	padding-left:16px;
	border-collapse:separate;
	border-spacing:0px 13px;
}
.CtcontactContentRight table tr{
	margin-bottom:18px;
}

.CtcontactContentRight table tr td#cttitle{
	width:160px;
	vertical-align: top;
}

.CtcontactContentRight table tr td input{
	width:298px;
}
.CtcontactContentRight table tr td#CtcontactContentRight{
	width:298;
	height:60px;
}
.CtcontactContentRight textarea{
	width:298px;
	height:160px;
}
.CtcontactContentRight .contactSubmit button{
	margin-top:-6px;
	float:right;
	width:110px;
	height:42px;
	background:#3da0d6;
	border:1px solid #8dc7e7;
	font-size:14px;
	color:white;
	
}