@media screen and (max-width: 780px){
/*	.ContactfaceinTwiter{top:30%;} */
}
@media screen and (max-width: 980px){
.storyLeft{
	float:none;
	width:98%;
	margin:0 0;
	padding:1% 1%;
	margin-bottom:20px;
	border:0 none;
	min-height:600px;
	
}
.storyRight{
	float:none;
	width:100%;
	margin:0 0;
	
}
.visContent{
	width:31%;
	float:left;
	margin:0 1%;
}
.storyLatestNew{
	width:70%;
	float:none;
	margin:0 auto;
}
.stoContentSmall_1 h1 {
	padding-top:1.3%;
}
}
@media screen and (max-width: 600px){
.visContent{
	float:none;
	width:99%;
	margin:0 0;
}
}