@media screen and (max-width: 960px){
.serviceLeft{
	width:70%;
}
}

@media screen and (max-width: 480px){
.serviceLeft{
	border:0 none;
	width:96%;
	float:none;
	margin:0 0;
	padding:0 2%;
	margin-bottom:20px;
}
.serviceRight{
	width:98%;
	float:none;
}
}
/*
@media screen and (max-width: 760px){
.service{
	margin-bottom:30px;
}

@media screen and (max-width: 400px){
.CtcontactContentRight table tr td input{
	max-width:250px;
	width:100%;
	height:24px;
}
.CtcontactContentRight textarea{
	max-width:250px;
	width:100%;
	height:160px;
}
.CtcontactUsSmall{
	padding-bottom:20px;}	
}
*/