@media screen and (max-width:1024px){
	.center,#popup-top .tab-content{width:100%}
}
@media screen and (max-width:768px){
	.menu-right ul li a{padding:24px 10px 22px}
}
@media screen and (max-width: 750px){
	.header-line{padding:15px 10px 0}
	.header-right{float:none;clear:both;padding-top:25px;;padding-left:24px;text-align:left}
	.banner{float:none;width:100%;}
	.menu-right{overflow:visible;clear:both;margin:15px 0}
	#content-container .bg-center{background-image:none}
	#content-container .right-content{float:none;width:100%;padding-bottom:15px}
	.menu-list li{padding:0 6px}
	.tab-content .item-tab{margin-left:20%}
	.right-content marquee{height:200px}
}
@media screen and (max-width: 620px){
	.form-top{width: 92%;}
}
@media screen and (max-width: 590px){
	#nav{display:none}
	#header .center{position:absolute}
	.nav-vertical a.button-nav{display:block}
	.nav-vertical{display:block}
	.entry-left-content{float:none;padding-bottom:15px;width:100%}
	.tab-content .item-tab{margin-left:25px}
	/* .form-top{padding-left:40px} */
	.form-top{width: 92%;}
	.main-form fieldset .left-form{float:none;width:100%}
	.main-form fieldset div.submit input{float:left;width:100%}
	.main-form fieldset div.submit {float:left;}
	.main-form fieldset .right-form{clear:both;width:100%}
	.main-form fieldset div.area-2 textarea{height:140px !important;}
}
@media screen and (max-width: 400px) {
	.tab-content .item-tab li{width:120px}
	a.logo{width:250px;background: url(../img/front/logo400m.png) no-repeat;margin:10px; height:85px}
	
	#nav{display:none}
	#header .center{position:absolute}
	.nav-vertical a.button-nav{display:block}
	.nav-vertical{display:block}
	.entry-left-content{float:none;padding-bottom:15px;width:100%}
	.tab-content .item-tab{margin-left:25px}
	
	.main-form fieldset .left-form{float:none;width:100%}
	.main-form fieldset div.submit input{float:left;width:100%}
	.main-form fieldset div.submit {float:left;}
	.main-form fieldset .right-form{clear:both;width:100%}
	.main-form fieldset div.area-2 textarea{height:140px !important;}
	
	
	.form-top{width:243px;padding-left:0px}
	.form-top fieldset{width:243px;}
	.request-a-quote .main-form fieldset .left-form,
	.request-a-quote .main-form fieldset .right-form{width:243px; overflow: hidden;}
	.main-form fieldset div.input label{width:230px;}
	.main-form fieldset div.input input{width:230px;}
	.main-form fieldset div.input textarea{width:230px!important;}
	
	#footer-container ul {float:left;text-align:center}
	.mt-tt{width:270px;}
	.header-right{padding-left:5px}
	.title-1{width:280px;}
	.footer-right-content{text-align:center}
	.link-list .link-item{ width: 100%;}
	#footer-container ul.share-link-list{right: 50%; margin-right: -108px;}
	.form-top .title-4{ padding-top: 30px;}
	.tab-content .block-tab_small .close-bt {top: 25px;}
	
	.tab-content .block-tab .block-tab_small{height:400px;padding-bottom:30px;}
	.formError {left: 200px!important;}
}