@media screen and (max-width: 780px){
/*	.ContactfaceinTwiter{top:30%;} */
}
@media screen and (max-width: 980px){
.visionLeft{
	float:none;
	width:98%;
	margin:0 0;
	padding:1% 1%;
	margin-bottom:20px;
	border:0 none;
}
.visionRight{
	float:none;
	width:100%;
	height:180px;
}
.visContent{
	width:31%;
	float:left;
	margin:0 1%;
}
}
@media screen and (max-width: 600px){
.visContent{
	float:none;
	width:99%;
	margin:0 0;
}
.visionRight{
	height:450px;
}
}