/*----- Reset -----*/
@font-face {
    font-family: 'avenir';
    src: url('fonts/avenir-lt-55-roman-1361499803.eot');
    src: url('fonts/avenir-lt-55-roman-1361499803.eot?#iefix') format('embedded-opentype'),
         url('fonts/avenir-lt-55-roman-1361499803.woff') format('woff'),
         url('fonts/avenir-lt-55-roman-1361499803.ttf') format('truetype'),
         url('fonts/avenir-lt-55-roman-1361499803.svg#proxima_nova_ltbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Conv_spring-lp';
	src: url('fonts/spring-lp.eot');
	src: local('?'), url('fonts/spring-lp.woff') format('woff'), url('fonts/spring-lp.ttf') format('truetype'), url('fonts/spring-lp.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'BradleyHandITCRegular';
    src: url('fonts/bradhitc.eot');
    src: url('fonts/bradhitc.eot') format('embedded-opentype'),
         url('fonts/bradhitc.woff') format('woff'),
         url('fonts/bradhitc.ttf') format('truetype'),
         url('fonts/bradhitc.svg#BradleyHandITCRegular') format('svg');
}
@font-face {
	font-family: 'Conv_BK1251B';
	src: url('fonts/BK1251B.eot');
	src: local('?'), url('fonts/BK1251B.woff') format('woff'), url('fonts/BK1251B.ttf') format('truetype'), url('fonts/BK1251B.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*add width:1004px to BackGroundAllPage, the feature respondsive is lost???*/
.clearFix{
	clear: both;
}
.BackGroundAllPage{	
	width:1004px;
	height:273px;
	max-width: 98%;
	margin:0 auto;
	text-align:center;
}

.BackGroundAllPage img {
	height:273px; 
	width: 100%;
}
#content-container .bg-center{
	margin-top:10px;
	background: none;
}
.CtcontactUsHeader{
	margin:0 auto;
	height:36px;
	background:url('../img/front/backContact.png') no-repeat center center;
}
.CtcontactUsHeader1{
	margin:0 auto;
	width:202px;
	height:36px;
	background:white;
}
.CtcontactUsHeaderSmall {
	float:left;
	height:34px;
	width:190px;
	float:left;
	text-align:center;
	display:block;
	background:#43a1d4;
	line-height:34px;
	color:white;
	margin-left: 6px;
	border-bottom:1px solid #92cdec;
	border-top:1px solid #92cdec;
	color:white;
	font-family: 'Conv_spring-lp';
	font-size:30px;
	
}
.CtcontactUsHeaderSmall a{
	color:white;
	display:block;
	text-shadow:0.2px 0.2px white;
	font-weight:100;
}	
.service{
	margin-top:10px;
	min-height:1320px;
}
.serviceLeft{
	float:left;
	width:70.59%;
	min-height:1320px;
	border-right:1px dashed #676767;
	padding-left:2.18%;
	padding-right:1.98%;
	margin-top: 20px;
	text-shadow: 0.2px 0.2px #a5a5a5;
}
.serviceLeft h1{
	font-family: 'BradleyHandITCRegular';
	font-size: 24px;
	color:#3AA4E0;
	text-shadow:0.2px 0.2px #68ACD1;
	font-weight:normal;	
}
.serviceLeft p{
	font-family:avenir;
	font-size:14px;
	color:#4a4e4e;
	word-wrap:break-word;
	text-align:justify;
}

.serviceRight{
	float:right;
	width:25.15%;
	min-height:150px;
}

.serContent{
	margin-left:4.72%;
	margin-right:4.72%;
	margin-bottom:14px;
	float:right;
	width:89.76%;
	height:136px;	
}
.serContentSmall{
	width:96.49%;
	height:auto;
}
.serContent .serContentSmall h1{
	height:38px;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(right, #FFFFFF 0%, #00A3EF 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(right, #FFFFFF 0%, #00A3EF 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(right, #FFFFFF 0%, #00A3EF 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #FFFFFF), color-stop(1, #00A3EF));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(right, #FFFFFF 0%, #00A3EF 100%);
	background-position: center top;
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to left, #FFFFFF 0%, #00A3EF 100%);
	padding-left:5%;
	font-family: 'Conv_spring-lp';
	font-size:24px;
	font-weight:normal;
	color:white;
	line-height:38px;
}
.serContentSmall ul{
	list-style:none;
	padding-left:0;
	padding-top: 8px;
	margin:0 0;
}
.serContentSmall ul li{
	background: url(../img/front/bg-icon-check.png) no-repeat 0px 0;
	min-height:18px;
}
.serContentSmall ul li a{
	padding-left:10%;
	text-decoration:none;
	font-family: 'avenir';
	font-size:14px;
	color:#3da0d6;
}
.serContentSmall ul li a:hover{
	color:#3366FF;
}
.serContentSmall_1{
	width:100%;
	height:128px;
	background-image: url('../img/front/star.png'), url('../img/front/star.png'),url('../img/front/star.png'),url('../img/front/star.png');
	background-position: 8% 10%, 16% 10%, 84% 10%, 92% 10%;
	background-repeat:no-repeat, no-repeat, no-repeat, no-repeat;
}
.serContentSmall_1 h1{
	width:100%;
	color:#5f5c5d;
	text-shadow: 0.5px 1px white;
	text-align: center;
	font-family:'Times New Roman' san-serif;
	padding-top:3%;
	float:left;
}

.serContentSmall_1 p{
	margin-top:10px;
	width:100%;
	color:#958a71;
	text-shadow: 0.2px 0.2px #928572;
	text-align: center;
	font-family: Arial;
	font-size:9px;
	line-height:14px;
	float:left;
}
.serContentSmall_1 a{
	color:#635a4e;
	float:left;
	margin-top:5px;
	height:28px;
	line-height:28px;
	width:35.91%;
	border:1px solid #C8BB8E;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align:center;
	margin-left:31.81%;
	font-size:11px;
	font-weight:bold;
	font-family:Arial;
	text-transform:uppercase;
	background: rgb(232,214,170); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(232,214,170,1) 0%, rgba(202,187,146,1) 97%, rgba(204,189,148,1) 99%, rgba(191,174,132,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,214,170,1)), color-stop(97%,rgba(202,187,146,1)), color-stop(99%,rgba(204,189,148,1)), color-stop(99%,rgba(191,174,132,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(232,214,170,1) 0%,rgba(202,187,146,1) 97%,rgba(204,189,148,1) 99%,rgba(191,174,132,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(232,214,170,1) 0%,rgba(202,187,146,1) 97%,rgba(204,189,148,1) 99%,rgba(191,174,132,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(232,214,170,1) 0%,rgba(202,187,146,1) 97%,rgba(204,189,148,1) 99%,rgba(191,174,132,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(232,214,170,1) 0%,rgba(202,187,146,1) 97%,rgba(204,189,148,1) 99%,rgba(191,174,132,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8d6aa', endColorstr='#bfae84',GradientType=0 ); /* IE6-9 */
}

/*Override for background of all page*/
.header-line{
	padding:0 1px 0;
}
.header-line{background-color:transparent;border-bottom:1px solid transparent;overflow:hidden;padding:0px 1px 0px}