@font-face {
    font-family: 'AvenirLT55RomanRegular';
    src: url('avenir-lt-55-roman-1361499803.eot');
    src: url('avenir-lt-55-roman-1361499803.eot') format('embedded-opentype'),
         url('avenir-lt-55-roman-1361499803.woff') format('woff'),
         url('avenir-lt-55-roman-1361499803.ttf') format('truetype'),
         url('avenir-lt-55-roman-1361499803.svg#AvenirLT55RomanRegular') format('svg');
}
