@font-face {
    font-family: 'BradleyHandITCRegular';
    src: url('bradhitc.eot');
    src: url('bradhitc.eot') format('embedded-opentype'),
         url('bradhitc.woff') format('woff'),
         url('bradhitc.ttf') format('truetype'),
         url('bradhitc.svg#BradleyHandITCRegular') format('svg');
}
